body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.navbar {
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
  background-color: #ddd;
  color: black;
}

.HTTP410 {
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-wrap: wrap;

  background-image: url("./assets/_HTTP410.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-square {
  background-color: white;
  opacity: 1;
  box-sizing: border-box;
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Make sure the canvas doesn't block interactions */
  z-index: 8;
}
.branch {
  width: 70px;
  height: 30px;
  right: -15px;
  background-image: url("./assets/branch.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
}
