body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.navbar button {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar a:hover,
.navbar button:hover {
  background-color: #555;
}

.navbar button {
  background-color: #444;
  border-radius: 5px;
}

#mainpopover {
  position: absolute;
  border: none;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 45px;
  margin-left: 0px;
  padding: 10px;
  width: 348px;
}

.navbar button[popovertargetaction="toggle"]:hover > #mainpopover {
  display: block;
}

.listcontainer {
  display: flex;
  flex-direction: column;
}

.listcontainer a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.listcontainer a:hover {
  background-color: #555;
}

.HTTP410 {
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-wrap: wrap;

  background-image: url("./killswitch/_HTTP410.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-square {
  background-color: white;
  opacity: 1;
  box-sizing: border-box;
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 8;
}
.branch {
  width: 70px;
  height: 30px;
  right: -15px;
  background-image: url("./assets/branch.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
}
