#sidebar {
  background-color: green;
}
#content-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border: 5px dashed black;
}
.grid div {
  width: 40px;
  height: 40px;
}
.alien {
  background: url("./xpontents/services/assets/alien.gif");
  background-size: cover;
}
.player {
  background: url("./xpontents/services/assets/player.png");
  background-size: cover;
}
.bullet {
  background: url("./xpontents/services/assets/bullet.png");
  background-size: cover;
}
.boom {
  background: url("./xpontents/services/assets/boom.png");
  background-size: cover;
}
.dead {
  background: url("./xpontents/services/assets/dead.png");
  background-size: cover;
}
.deadtext {
  background: url("./xpontents/services/assets/deadtext.png");
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
}
