.cloud {
  position: absolute;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  opacity: 0.8;
  white-space: nowrap;
}

.monkey {
  position: absolute;
  transform: translateX(-50%);
  z-index: 2000;
  img {
    width: 70px;
    height: 70px;
  }
}

.banana {
  width: 20px;
  height: 20px;
  background-image: url("./sprites/banana_ammo.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 5;
}
